@import "stuff.less";

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  background: white;//url(bg1.jpg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  color: #000000;
  margin: 0;

}

.footer {
  width: 100%;
  background-color: #ececec;
  //color: #fff;
  padding: 10px;
  text-align: center;
  a {
    color: black;
  }
}

.main {
  background-color: white;//rgba(0, 0, 0, 0.3);
  //padding: 20px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}


.container {
  background-color: white; /* White background color */
  padding: 20px;
  border-radius: 8px;
  max-width: 1200px;
  //margin-bottom: 60px;
  margin: 0 auto;
  padding: 20px;
  font-size: 16px;
  line-height: 20px;

  /*center to screen*/
  display: flex;
  flex-direction: column;
  //justify-content: center;
  margin-top: 200px;
  align-items: center;
  //height: 90vh;
  padding-bottom: 100px;

  @media (max-width: 992px) {
    max-width: 100%;
    margin-top: 50px;
  }
}
.input {
  width: 400px;
  @media (max-width: 992px) {
    width: 100%;
  }
}
.inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  max-width: 700px;
  @media (max-width: 992px) {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
  }
}

.h1 {
 text-align: center;
  font-size: 36px;
  padding-top: 40px;
}

.h3 {
  font-size: 24px;
  color: gray;
}



.ul {
  margin: 0 auto;
  width: 600px;
  padding-top: 120px;
  color: #252525;
  font-size: 16px;
  @media (max-width: 992px) {
    width: 100%;
  }
}

#go-btn.disabled{
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.data-c{
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hidden{
    display: none;
}

rg-wgl-loader {
  display: block;
  width: 250px;//
  height: 250px;
}

.pro-loader{
  height: 250px;
  width: 250px;
  margin: 0 auto;
}




.dot1 {
  font-size: 24px;
  animation: visibility 3s linear infinite;
}
@keyframes visibility {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.dot2 {
  font-size: 36px;
  animation: visibility2 3s linear infinite;
}
@keyframes visibility2 {
  0% {
    opacity: 0;
  }
  21% {
    opacity: 0;
  }
  22% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.dot3 {
  font-size: 48px;
  animation: visibility3 3s linear infinite;
}
@keyframes visibility3 {
  0% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  44% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.meta{
  display: flex;
  gap: 40px;
}

.small-text {
  font-size: 12px;
  color: gray;
}

.summary {

}

.answer {
}

.copyable-hashtag {
  font-size: 12px;
  cursor: pointer; /* Indicate it's clickable */
  background-color: #f0f0f0; /* Light gray background */
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block; /* Allows margin to be applied on all sides */
}

.copyable-hashtag:hover {
  background-color: #e0e0e0; /* Slightly darker on hover */
}

section {
  width: 100%;
}

.hashtags h3 {
  font-size: 12px;
  display: inline-block;
}

.btnz {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  // gap between elements
    > * {
        margin: 0 10px;
    }
}